<div class="top-hero-wrapper text-center">
<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <br><br><br><br><br><br>
        <h1 class="text-center text-white">Sign in</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :account_name, class: 'text-white' %>
            <%= f.text_field :account_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :mail_address, class: 'text-white' %>
            <%= f.text_field :mail_address, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
        <%= link_to 'ログインはこちら', new_login_path ,class: 'text-white' %>
      </div>
    </div>
  </div>
</div>
</div>
